body{

    font-family: Arial, sans-serif;
    background:#0f172a;
    color:white;

    display:flex;
    justify-content:center;
    align-items:center;

    height:100vh;
}

h1,h2{
    text-align:center;
}

input{

    width:100%;
    padding:10px;
    margin-top:10px;
    border-radius:6px;
    border:none;
}

button{

    margin-top:10px;
    padding:10px;

    border:none;
    border-radius:6px;

    background:#3b82f6;
    color:white;

    cursor:pointer;
}

button:hover{
    background:#2563eb;
}

#list{

    margin-top:20px;
}

.card{

    background:#1e293b;

    padding:15px;
    margin-top:10px;

    border-radius:8px;
}

.card h3{
    margin:0;
}

.card p{
    margin:5px 0;
}

.strength-weak{
    color:red;
}

.strength-fair{
    color:orange;
}

.strength-strong{
    color:green;
}